<%- include("partials/header") %>
<div class="ui centered grid stackable padded">
    <div class="four wide column">
        <div class="ui fluid card">
            <div class="content">
                <div class="ui right floated header">
                    <i class="red user icon"></i>
                </div>
                <div class="header">
                    <div class="ui red header">User</div>
                </div>
                <div class="meta">Create new user</div>
            </div>
            <div class="extra content">
                <a href="/users/add" class="ui bottom attached red button">Create User</a>
            </div>
        </div>
    </div>
    <div class="four wide column">
        <div class="ui fluid card">
            <div class="content">
                <div class="ui right floated header">
                    <i class="green users icon"></i>
                </div>
                <div class="header">
                    <div class="ui green header">Group</div>
                </div>
                <div class="meta">Create new group</div>
            </div>
            <div class="extra content">
                <a href="/groups/add" class="ui bottom attached green button">Create Group</a>
            </div>
        </div>
    </div>
    <div class="four wide column">
        <div class="content">
            <div class="ui middle aligned divided list">
                <% disabledUsers.forEach(user => { %>
                <div class="item">
                    <div class="right floated content">
                        <div class="ui button">Enable</div>
                    </div>
                    <img class="ui avatar image" src="/images/avatar.png">
                    <div class="content">
                            <%- user %>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>
<%- include("partials/footer") %>