<%- include("partials/header") %>
<div class="ui centered grid stackable padded">
    <div class="four wide column">
        <div class="ui fluid card">
            <div class="content">
                <div class="ui right floated header">
                    <i class="red user icon"></i>
                </div>
                <div class="header">
                    <div class="ui red header">User</div>
                </div>
                <div class="meta">Create new user</div>
            </div>
            <div class="extra content">
                <a href="/users/add" class="ui bottom attached red button">Create User</a>
            </div>
        </div>
    </div>
    <div class="four wide column">
        <div class="ui fluid card">
            <div class="content">
                <div class="ui right floated header">
                    <i class="green users icon"></i>
                </div>
                <div class="header">
                    <div class="ui green header">Group</div>
                </div>
                <div class="meta">Create new group</div>
            </div>
            <div class="extra content">
                <a href="/groups/add" class="ui bottom attached green button">Create Group</a>
            </div>
        </div>
    </div>
    <div id="users" class="four wide column">
        <div class="content">
            <div class="ui middle aligned divided list">
                <% disabledUsers.forEach(user => { %>
                <div class="item">
                    <div class="right floated content">
                        <div id="enable" class="ui button" data-user="<%- user %>">Enable</div>
                    </div>
                    <img class="ui avatar image" src="/images/avatar.png">
                    <div class="content">
                            <%- user %>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>
<script>
	function enableUser($username) {
		$.ajax({
			type: "GET",
			contentType: "application/json; charset=utf-8",
			url: "/users/enable/" + $username,
			data: JSON.stringify({ 'username': $username }),
			dataType: "json"
		}).done(function (data) {
			// console.log("ajax: " + data.deleted);
			alert(data.message);
			if (data.deleted == true) {
				location.reload();
			}
		}).fail(function (xhr, status, error) {
			let errorMessage = xhr.status + ': ' + xhr.statusText;
			alert('Error - ' + errorMessage);
		});
	}

	$("#users #enable").click(function(){
        let username = $(this).attr('data-user');
        if(confirm('Do you want to enable ' + username + ' user?')){
            enableUser(username);
        }
    });
</script>
<%- include("partials/footer") %>